# Where 192.168.1.0/24 would be all machines on the network in range 192.168.1.1 - 192.168.1.255

NFS_IPADDR_ALLOWED=192.168.1.0/24

# Where My Passport is an external drive (should use mnt/ to permently mount drive)
# values are relative to the respective host path

NFS_HOST_HOME_PATH=/media/dave/My Passport/home
NFS_HOME_PATH=home

NFS_HOST_PUBLIC_PATH=/media/dave/My Passport/Public
NFS_PUBLIC_PATH=Public

